<footer class="footer-container">
  <div class="wrap-footer">
    <p>Portafolio creado en</p>
    <div class="icons">
      <img src="./../../../../assets/images/icons/angular-white-transparent.svg" alt="" />
      <img src="./../../../../assets/images/icons/material.png" alt="" />
      <img src="./../../../../assets/images/icons/router.png" alt="" />
      <img src="./../../../../assets/images/icons/firebase.png" alt="" />
      <img src="./../../../../assets/images/icons/html.png" alt="" />
      <img src="./../../../../assets/images/icons/css.png" alt="" />
    </div>
  </div>
</footer>