<footer class="footer-container">
  <div class="wrap-footer">
    <p>Portafolio creado en</p>
    <div class="icons">
      <img src="./../../../../assets/images/icons/angular.png" alt="" />
      <img src="./../../../../assets/images/icons/angular.png" alt="" />
      <img src="./../../../../assets/images/icons/angular.png" alt="" />
      <img src="./../../../../assets/images/icons/angular.png" alt="" />
      <img src="./../../../../assets/images/icons/angular.png" alt="" />
    </div>
  </div>
</footer>