<div class="home-container">
  <div class="home-wrap">
    <img class="animated bounceInDown slow" src="assets/images/icons/code.png" alt="code" />
    <h1 class="animated bounceInLeft slow">Christian Michelle Torres Martínez</h1>
    <h3 class="animated bounceInLeft slow">Desarrollador Web Frontend</h3>
    <div class="buttons animated  fadeIn delay-1s slow ">
      <button mat-raised-button color="primary" (click) = "goProjects()">Proyectos</button>
      <button mat-raised-button [color]="'contact'" (click) = "goContact()">Contacto</button>
    </div>
  </div>
</div>